on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_CACHE /cache
    export ANDROID_DATA /data
    export ANDROID_ASSETS /system/app
    export EXTERNAL_STORAGE /sdcard
    export TMPDIR /data/local/tmp

    symlink /system/etc /etc
    symlink /misc /etc
    symlink /sys/kernel/debug /d
    mkdir /sdcard 0000 system system
    mkdir /preload
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /dbdata
    mkdir /mnt 0775 root system
    #mount /tmp /tmp tmpfs   

    # This may have been created by the recovery system with odd permissions
    chown system system /cache/recovery
    chmod 0770 /cache/recovery

on early-fs

    mkdir /tmp
    mount tmpfs nodev /tmp


# Backward compatibility
    symlink /sys/kernel/debug /d

    insmod /lib/modules/vibrator.ko
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko
    insmod /lib/modules/storage.ko
    insmod /lib/modules/jbd2.ko
    insmod /lib/modules/ext4.ko

    # parameter block
    mkdir /mnt/.lfs 0755 root root
    insmod /lib/modules/j4fs.ko
    mount j4fs /dev/block/stl6 /mnt/.lfs
    insmod /lib/modules/param.ko
    insmod /lib/modules/dpram_recovery.ko


on fs
    mount tmpfs tmpfs /tmp
    mount ext4 /dev/block/stl9 /system wait nodev noatime nodiratime noauto_da_alloc
    exec apply_disk_policy
    mount ext4 /dev/block/mmcblk0p2 /data  wait nosuid nodev noatime nodiratime noauto_da_alloc
    chown system system /data
    chmod 0771 /data

    mkdir /datadata
    mount ext4 /dev/block/stl10 /datadata wait nosuid nodev noatime nodiratime noauto_da_alloc
    chown system system /datadata
    chmod 0771 /datadata
    mkdir /datadata/databases
    chown system system /datadata/databases
    chmod 0777 /datadata/databases
    mkdir /datadata/system
    chown system system /datadata/system
    chmod 0775 /datadata/system

    mkdir /data/dontpanic
    chown root log /data/dontpanic
    chmod 0750 /data/dontpanic

    #mount rfs /dev/block/stl3 /efs nosuid nodev check=no

    mkdir /cache 0771 system cache
    mount ext4 /dev/block/mmcblk0p1 /cache nosuid nodev noatime nodiratime errors=continue nobh data=writeback barrier=0 noauto_da_alloc
    chown system cache /cache
    chmod 0771 /cache
    chown system cache /cache/recovery
    chmod 0770 /cache/recovery

    mkdir /efs 0771 system system
    mount rfs /dev/block/stl3 /efs nosuid nodev check=no
    chown radio radio /efs
    chmod 0771 /efs

    mkdir /dbdata/dalvik-cache
    chown system system /dbdata/dalvik-cache
    chmod 0771 /dbdata/dalvik-cache
    symlink /dbdata/dalvik-cache /cache/dalvik-cache

on post-fs

    copy /proc/apanic_console /data/dontpanic/apanic_console
    chown root log /data/dontpanic/apanic_console
    chmod 0640 /data/dontpanic/apanic_console

    copy /proc/apanic_threads /data/dontpanic/apanic_threads
    chown root log /data/dontpanic/apanic_threads
    chmod 0640 /data/dontpanic/apanic_threads

    write /proc/apanic_console 1
    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0

    # create the lost+found directories, so as to enforce our permissions
    mkdir /data/lost+found 0770
    mkdir /cache/lost+found 0770

    # double check the perms, in case lost+found already exists, and set owner
    chown root root /data/lost+found
    chmod 0770 /data/lost+found
    chown root root /cache/lost+found
    chmod 0770 /cache/lost+found

    # allow net_raw to have access to /dev/socket directory
    chown root net_raw /dev/socket
    chmod 0775 /dev/socket
	
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service console /sbin/sh
    console

service recovery /sbin/recovery
    console
    oneshot

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd recovery
    disabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

